.header {
  padding-top: 19px;
  position: relative;
  z-index: 100;
}
.header__background-left {
  width: 100%;
  height: 820px;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.header__background-right {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: -1;
  width: 786px;
  height: 820px;
  background-size: cover;
  background-repeat: no-repeat;
}

.header-main {
  display: flex;
  align-items: center;
}
.header-main__logo {
  max-width: 196px;
  background-size: cover;
  margin-right: 156px;
}

.nav__list {
  display: flex;
}
.nav__list-item {
  margin-right: 40px;
  text-transform: lowercase;
  font-size: 15px;
  font-weight: inherit;
  color: rgb(73, 94, 76);
  transition: all 0.2s ease-in-out;
}
.nav__list-item:hover {
  color: rgb(107, 154, 114);
}
.nav__list-item:last-child {
  margin-right: 0;
}

.btn {
  cursor: pointer;
  position: relative;
  width: 190px;
  padding: 19px 42px 19px 42px;
  background-color: rgb(92, 205, 106);
  text-transform: uppercase;
  border-radius: 17px;
  letter-spacing: 2px;
  color: rgb(255, 255, 255);
  border: none;
  transition: all 0.1s ease-in-out;
}
.btn:hover {
  background-color: rgb(84, 225, 101);
}
.btn:active {
  background-color: rgb(92, 205, 106);
}
.btn-header__right {
  position: absolute;
  right: 52px;
}

.btn::before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 25px;
  top: -9px;
  left: -9px;
  width: 208px;
  height: 75px;
  border: 10px solid rgba(255, 255, 255, 0.45);
}

.main {
  position: relative;
}
.main-text {
  max-width: 511px;
  display: flex;
  flex-direction: column;
  padding-top: 67px;
  margin-left: 90px;
}
.main__title {
  font-family: ruberoid, sans-serif;
  font-weight: 400;
  font-size: 63px;
  line-height: 74px;
  color: #495E4C;
}
.main__title_line {
  color: #495E4C;
  display: block;
  position: relative;
  right: -190px;
  font-family: ruberoid, sans-serif;
  font-weight: 400;
  font-size: 63px;
  line-height: 74px;
}
.main__title_line::after {
  content: "";
  position: absolute;
  left: -194px;
  top: 38px;
  height: 3px;
  border-radius: 1.5px;
  width: 148px;
  background-color: #78C081;
}
.main__name {
  margin-top: 5px;
  text-transform: uppercase;
  font-family: ruberoid, sans-serif;
  font-weight: 400;
  font-size: 63px;
  line-height: 74px;
  color: #78C081;
  letter-spacing: 1.6px;
}
.main__description {
  margin-top: 15px;
  display: flex;
  align-items: center;
}
.main__description-img {
  position: relative;
  top: -17px;
  margin-right: 8px;
  width: 10px;
  height: 10px;
}
.main__description-img:last-child {
  margin-right: 12px;
}
.main__description-text {
  width: 453px;
  font-size: 22px;
  line-height: 32px;
  color: #7CA381;
}
.main__contacts {
  margin-top: 49px;
  margin-left: 8px;
  display: flex;
}
.main__contacts-street, .main__contacts-call {
  display: flex;
}
.main__contacts-call {
  margin-left: 35px;
}
.main__street-mark, .main__call-phone {
  width: 32px;
  height: 32px;
  margin-top: 8px;
}
.main__call-phone {
  margin-right: 22px;
}
.main__street-name {
  margin-left: 20px;
  max-width: 158px;
  font-size: 16px;
  line-height: 24px;
  color: rgb(123, 137, 125);
}
.main__call-text {
  color: rgb(123, 137, 125);
  font-size: 15px;
  line-height: 24px;
}
.main__call-text:hover {
  color: rgb(107, 154, 114);
}
.main__call-text:last-child {
  margin-left: 0px;
}
.main .btn-application {
  border: none;
  position: relative;
  margin-left: 12px;
  margin-top: 79px;
  font-size: 17px;
  line-height: 23px;
  letter-spacing: 2.9px;
  color: rgb(255, 255, 255);
  width: 448px;
  border-radius: 30px;
  padding: 32px;
  background-color: rgb(92, 205, 106);
  transition: all 0.1s ease-in;
}
.main .btn-application::before {
  content: "";
  display: block;
  position: absolute;
  top: -13px;
  left: -14px;
  border-radius: 40px;
  width: 476px;
  height: 112px;
  border: 15px solid rgba(120, 192, 129, 0.25);
  margin-bottom: 68px;
}
.main .btn-application:hover {
  background-color: rgb(84, 225, 101);
}
.main .btn-application:active {
  background-color: rgb(92, 205, 106);
}

.services {
  margin-top: 74px;
  margin-bottom: 120px;
}
.services-wrapper {
  display: flex;
  position: relative;
}
.services__description {
  position: relative;
  padding-top: 83px;
  max-width: 444px;
  margin-left: 45px;
}
.services__description-title {
  position: relative;
  font-family: "ruberoid", sans-serif;
  max-width: 444px;
  font-size: 45px;
  line-height: 66px;
  color: rgb(73, 94, 76);
  margin-bottom: 26px;
}
.services__description-title::before {
  content: "";
  position: absolute;
  border-radius: 1.5px;
  top: 188px;
  right: -44px;
  width: 245px;
  height: 2px;
  background-color: rgb(120, 192, 129);
}
.services__description-text {
  padding: 0;
  width: 444px;
  font-size: 16px;
  line-height: 26px;
  color: rgb(132, 132, 132);
  margin-bottom: 26px;
}
.services__description-text:last-child {
  margin-bottom: 0;
}
.services__type {
  position: absolute;
  top: 104px;
  right: -128px;
  width: 669px;
  height: 655px;
  background-color: rgb(217, 250, 221);
  border-radius: 65px 0 0 65px;
}
.services__type_block {
  position: relative;
  margin-top: 113px;
  margin-left: 39px;
}
.services__type_list-item {
  display: flex;
  margin-bottom: 21px;
}
.services__type_list-img {
  width: 34px;
  height: 34px;
  border-radius: 10px;
  margin-right: 15px;
}
.services__type_list-text {
  max-width: 307px;
  font-size: 20px;
  line-height: 32px;
  color: rgb(73, 93, 76);
}
.services__type_block-img {
  border-radius: 65px 0 0 65px;
  position: absolute;
  top: -120px;
  right: 0px;
}
.services__type_ventilation-decor {
  position: absolute;
  top: 86px;
  left: -74px;
  cursor: pointer;
  width: 74px;
  height: 241px;
  border-radius: 40px 0 0 0;
  background-color: rgb(92, 205, 106);
  border-top: 10px solid #D9FADD;
  border-left: 10px solid #D9FADD;
  transition: all 0.2s ease-in-out;
}
.services__type_ventilation-img {
  fill: rgb(255, 255, 255);
  position: absolute;
  top: 22px;
  left: 15px;
}
.services__type_ventilation-text {
  height: 135px;
  max-width: 135px;
  position: absolute;
  top: 72px;
  left: 22px;
  font-size: 14px;
  line-height: 18px;
  color: rgb(255, 255, 255);
  writing-mode: vertical-lr;
  transform: rotate(180deg);
}
.services__type_conditioning-decor {
  position: absolute;
  top: 326px;
  left: -74px;
  cursor: pointer;
  width: 74px;
  height: 241px;
  border-radius: 0 0 0 40px;
  background-color: rgb(255, 255, 255);
  border-left: 10px solid #D9FADD;
  border-bottom: 10px solid #D9FADD;
  transition: all 0.2s ease-in-out;
}
.services__type_conditioning-img {
  height: 34px;
  width: 34px;
  fill: rgb(124, 162, 129);
  position: absolute;
  top: 22px;
  left: 15px;
}
.services__type_conditioning-text {
  height: 135px;
  max-width: 135px;
  position: absolute;
  top: 72px;
  left: 22px;
  font-size: 14px;
  line-height: 18px;
  color: rgb(124, 162, 129);
  writing-mode: vertical-lr;
  transform: rotate(180deg);
}/*# sourceMappingURL=main.css.map */