.header {
  padding-top: 19px;
  position: relative;
  z-index: 100;
}
.header__background-left {
  width: 100%;
  height: 820px;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.header__background-right {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: -1;
  width: 786px;
  height: 820px;
  background-size: cover;
  background-repeat: no-repeat;
}

.header__main {
  display: flex;
  align-items: center;
}
.header__main_logo {
  max-width: 196px;
  background-size: cover;
  margin-right: 156px;
}

.nav__list {
  display: flex;
}
.nav__list_item {
  margin-right: 40px;
  text-transform: lowercase;
  font-size: 15px;
  font-weight: inherit;
  color: rgb(73, 94, 76);
  transition: all 0.2s ease-in-out;
}
.nav__list_item:hover {
  color: rgb(107, 154, 114);
}
.nav__list_item:last-child {
  margin-right: 0;
}

.btn {
  cursor: pointer;
  position: relative;
  width: 190px;
  padding: 19px 42px 19px 42px;
  background-color: rgb(92, 205, 106);
  text-transform: uppercase;
  border-radius: 17px;
  letter-spacing: 2px;
  color: rgb(255, 255, 255);
  border: none;
  transition: all 0.1s ease-in-out;
}
.btn:hover {
  background-color: rgb(84, 225, 101);
}
.btn:active {
  background-color: rgb(92, 205, 106);
}
.btn-header__right {
  position: absolute;
  right: 52px;
}

.btn::before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 25px;
  top: -9px;
  left: -9px;
  width: 208px;
  height: 75px;
  border: 10px solid rgba(255, 255, 255, 0.45);
  opacity: 45%;
}

.main {
  position: relative;
}
.main-text {
  max-width: 511px;
  display: flex;
  flex-direction: column;
  padding-top: 67px;
  margin-left: 90px;
}
.main__title {
  font-family: ruberoid, sans-serif;
  font-weight: 400;
  font-size: 63px;
  line-height: 74px;
  color: #495E4C;
}
.main__title_line {
  color: #495E4C;
  display: block;
  position: relative;
  right: -190px;
  font-family: ruberoid, sans-serif;
  font-weight: 400;
  font-size: 63px;
  line-height: 74px;
}
.main__title_line::after {
  content: "";
  position: absolute;
  left: -194px;
  top: 38px;
  height: 3px;
  border-radius: 1.5px;
  width: 148px;
  background-color: #78C081;
}
.main__name {
  margin-top: 5px;
  text-transform: uppercase;
  font-family: ruberoid, sans-serif;
  font-weight: 400;
  font-size: 63px;
  line-height: 74px;
  color: #78C081;
  letter-spacing: 1.6px;
}
.main__description {
  margin-top: 15px;
  display: flex;
  align-items: center;
}
.main__description-img {
  position: relative;
  top: -17px;
  margin-right: 8px;
  width: 10px;
  height: 10px;
}
.main__description-img:last-child {
  margin-right: 12px;
}
.main__description-text {
  width: 453px;
  font-size: 22px;
  line-height: 32px;
  color: #7CA381;
}
.main__contacts {
  margin-top: 54px;
  margin-left: 13px;
  display: flex;
}
.main__contacts-street, .main__contacts-call {
  display: flex;
}
.main__contacts-call {
  margin-left: 35px;
}
.main__street-mark, .main__call-phone {
  width: 32px;
  height: 32px;
  margin-top: 8px;
}
.main__call-phone {
  margin-right: 22px;
}
.main__street-name {
  margin-left: 20px;
  max-width: 158px;
  font-size: 16px;
  line-height: 24px;
  color: rgb(123, 137, 125);
}
.main__call-text {
  color: rgb(123, 137, 125);
  font-size: 15px;
  line-height: 24px;
}
.main__call-text:hover {
  color: rgb(107, 154, 114);
}
.main__call-text:last-child {
  margin-left: 0px;
}
.main .btn-application {
  border: none;
  position: relative;
  margin-left: 12px;
  margin-top: 79px;
  font-size: 17px;
  line-height: 23px;
  letter-spacing: 2.9px;
  color: rgb(255, 255, 255);
  width: 448px;
  border-radius: 30px;
  padding: 32px;
  background-color: rgb(92, 205, 106);
  transition: all 0.1s ease-in;
}
.main .btn-application::before {
  content: "";
  display: block;
  position: absolute;
  top: -13px;
  left: -14px;
  border-radius: 40px;
  width: 476px;
  height: 112px;
  border: 15px solid rgba(120, 192, 129, 0.25);
  margin-bottom: 68px;
}
.main .btn-application:hover {
  background-color: rgb(84, 225, 101);
}
.main .btn-application:active {
  background-color: rgb(92, 205, 106);
}

.services {
  margin-top: 74px;
  margin-bottom: 120px;
}
.services-wrapper {
  display: flex;
  position: relative;
}
.services__description {
  position: relative;
  padding-top: 83px;
  max-width: 444px;
  margin-left: 45px;
}
.services__description_title {
  position: relative;
  font-family: "ruberoid", sans-serif;
  max-width: 444px;
  font-size: 45px;
  line-height: 66px;
  color: rgb(73, 94, 76);
  margin-bottom: 26px;
}
.services__description_title::before {
  content: "";
  position: absolute;
  border-radius: 1.5px;
  top: 188px;
  right: -44px;
  width: 245px;
  height: 2px;
  background-color: rgb(120, 192, 129);
}
.services__description_text {
  padding: 0;
  width: 444px;
  font-size: 16px;
  line-height: 26px;
  color: rgb(132, 132, 132);
  margin-bottom: 26px;
}
.services__description_text:last-child {
  margin-bottom: 0;
}
.services__type {
  position: absolute;
  top: 104px;
  right: -128px;
  width: 669px;
  height: 655px;
  background-color: rgb(217, 250, 221);
  border-radius: 65px 0 0 65px;
}
.services__type_block {
  position: relative;
  margin-top: 113px;
  margin-left: 39px;
}
.services__type_list_item {
  display: flex;
  margin-bottom: 21px;
}
.services__type_list_img {
  width: 34px;
  height: 34px;
  border-radius: 10px;
  margin-right: 15px;
}
.services__type_list_text {
  max-width: 307px;
  font-size: 20px;
  line-height: 32px;
  color: rgb(73, 93, 76);
}
.services__type_block_img {
  border-radius: 65px 0 0 65px;
  position: absolute;
  top: -120px;
  right: 0px;
}
.services__type_ventilation_decor {
  position: absolute;
  top: 86px;
  left: -74px;
  cursor: pointer;
  width: 74px;
  height: 241px;
  border-radius: 40px 0 0 0;
  background-color: rgb(92, 205, 106);
  border-top: 10px solid #D9FADD;
  border-left: 10px solid #D9FADD;
  transition: all 0.2s ease-in-out;
}
.services__type_ventilation_img {
  fill: rgb(255, 255, 255);
  position: absolute;
  top: 22px;
  left: 15px;
}
.services__type_ventilation_text {
  height: 135px;
  max-width: 135px;
  position: absolute;
  top: 72px;
  left: 22px;
  font-size: 14px;
  line-height: 18px;
  color: rgb(255, 255, 255);
  writing-mode: vertical-lr;
  transform: rotate(180deg);
}
.services__type_conditioning_decor {
  position: absolute;
  top: 326px;
  left: -74px;
  cursor: pointer;
  width: 74px;
  height: 241px;
  border-radius: 0 0 0 40px;
  background-color: rgb(255, 255, 255);
  border-left: 10px solid #D9FADD;
  border-bottom: 10px solid #D9FADD;
  transition: all 0.2s ease-in-out;
}
.services__type_conditioning_img {
  height: 34px;
  width: 34px;
  fill: rgb(124, 162, 129);
  position: absolute;
  top: 22px;
  left: 15px;
}
.services__type_conditioning_text {
  height: 135px;
  max-width: 135px;
  position: absolute;
  top: 72px;
  left: 22px;
  font-size: 14px;
  line-height: 18px;
  color: rgb(124, 162, 129);
  writing-mode: vertical-lr;
  transform: rotate(180deg);
}

.solutions {
  margin-bottom: 72px;
  position: relative;
}
.solutions__background {
  position: relative;
}
.solutions__background_lungs {
  position: absolute;
  top: 88px;
  left: -197px;
  height: 460px;
}
.solutions_leaves1 {
  position: absolute;
  top: 132px;
  right: 86px;
  margin: 0;
}
.solutions_leaves2 {
  position: absolute;
  margin: 0;
  top: 341px;
  right: 0;
}
.solutions_leaveleft1 {
  position: absolute;
  top: 360px;
  left: 387px;
}
.solutions_leaveleft2 {
  position: absolute;
  top: 372px;
  left: 481px;
}
.solutions_leaveleft3 {
  position: absolute;
  top: 472px;
  left: 443px;
}
.solutions_leaveright1 {
  position: absolute;
  top: 236px;
  right: 1px;
}
.solutions_leaveright2 {
  position: absolute;
  top: 222px;
  right: 57px;
}
.solutions_title {
  position: relative;
  letter-spacing: 0.3px;
  margin-left: 91px;
  margin-top: 162px;
  max-width: 867px;
  font-size: 45px;
  font-family: "ruberoid", sans-serif;
  line-height: 60px;
  color: rgb(73, 94, 76);
}
.solutions__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 34px 47px;
  align-items: flex-start;
}
.solutions__block {
  position: relative;
  margin-top: 94px;
  margin-left: 89px;
}
.solutions__list_item {
  cursor: pointer;
  display: block;
  box-shadow: 0px 0px 10px 0px rgba(73, 93, 76, 0.1);
  background-color: #fff;
  position: relative;
  max-width: 257px;
  border-radius: 25px;
}
.solutions__list_img {
  background-repeat: no-repeat;
  background-size: cover;
}
.solutions__list_count {
  display: block;
  position: absolute;
  top: 15px;
  left: 0;
  color: rgb(73, 93, 76);
  font-size: 15px;
  line-height: 18px;
  font-weight: 600;
  max-width: 123px;
  padding: 6px 16px;
  background-color: rgb(217, 250, 221);
  border-radius: 4px 10px 10px 0;
}
.solutions__list_title {
  font-weight: 400;
  display: block;
  max-width: 218px;
  font-size: 16px;
  font-family: "ruberoid", sans-serif;
  color: rgb(120, 192, 129);
  padding-left: 16px;
  padding-bottom: 13px;
}
.solutions__list_title:hover {
  color: black;
}

.steps {
  margin-left: 174px;
}
.steps__wrapper {
  display: flex;
}
.steps__wrapper_title {
  font-family: "ruberoid", sans-serif;
  color: rgb(73, 94, 76);
  position: relative;
  font-size: 45px;
  line-height: 63px;
  max-width: 530px;
  font-weight: 400;
}
.steps__wrapper_title::after {
  position: absolute;
  top: 30px;
  right: 8px;
  content: "";
  height: 2px;
  background-color: rgb(120, 192, 129);
  width: 100px;
  border-radius: 1.5px;
}
.steps__bonuses {
  margin-top: 2px;
  margin-left: 88px;
}
.steps__bonuses_title {
  max-width: 279px;
  margin-bottom: 20px;
  margin-left: 0;
  font-family: "ruberoid", sans-serif;
  font-size: 26px;
  line-height: 26px;
  color: rgb(120, 192, 129);
}
.steps__bonuses_item {
  display: flex;
  max-width: 569px;
  margin-bottom: 10px;
  line-height: 20px;
  color: rgb(124, 163, 129);
}
.steps__bonuses_item:last-child {
  margin-bottom: 0;
}
.steps__bonuses_item::before {
  content: "";
}
.steps__bonuses_ventilation {
  height: 17px;
  width: 17px;
  margin-right: 10px;
}
.steps__block {
  position: relative;
  margin-left: -79px;
  margin-top: 88px;
}
.steps__block_vector1 {
  margin: 0;
  position: absolute;
  top: 26px;
  left: -12px;
}
.steps__block_vector2 {
  margin: 0;
  position: absolute;
  top: 20px;
  left: 369px;
}
.steps__block_vector3 {
  margin: 0;
  position: absolute;
  top: 69px;
  right: 369px;
}
.steps__block_vector4 {
  margin: 0;
  position: absolute;
  top: -19px;
  right: 0;
}
.steps__block_list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.steps__block_elipse {
  text-align: center;
  position: relative;
  margin-right: 300px;
  width: 100px;
  height: 100px;
  background-color: rgb(217, 250, 221);
  border-radius: 50%;
}
.steps__block_elipse:last-child {
  margin-right: 0;
}
.steps__block_text {
  margin: 0;
  margin-top: 170px;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: rgb(73, 94, 76);
  min-width: 165px;
  max-width: 200px;
}
.steps__block_img {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 26px;
  right: 24px;
}

.feedback {
  position: relative;
  padding-left: 156px;
  margin-top: 143px;
  padding-top: 55px;
  padding-bottom: 57px;
  background-color: rgb(217, 250, 221);
}
.feedback_linebg {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  position: absolute;
  left: 35px;
  top: 33px;
  padding: 0;
  margin: 0;
}
.feedback_ventibg {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 10px;
  right: 5px;
}
.feedback_title {
  letter-spacing: 0.1px;
  margin-left: 10px;
  margin-bottom: 38px;
  max-width: 731px;
  font-size: 35px;
  line-height: 45px;
  font-family: "ruberoid", sans-serif;
  color: rgb(73, 94, 76);
  padding: 0;
  margin-top: 0;
}
.feedback__form {
  z-index: 10;
  display: flex;
  align-items: center;
  margin-left: 4px;
}
.feedback_name::-moz-placeholder, .feedback_phone::-moz-placeholder {
  color: rgb(124, 163, 129);
}
.feedback_name::placeholder, .feedback_phone::placeholder {
  color: rgb(124, 163, 129);
}
.feedback_name:focus, .feedback_phone:focus {
  outline: none;
}
.feedback_name, .feedback_phone {
  min-width: 290px;
  border: none;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-family: proxima nova, sans-serif;
  padding-top: 20px;
  padding-left: 18px;
  padding-bottom: 20px;
  border-radius: 15px;
  color: rgb(124, 163, 129);
  background-color: rgb(255, 255, 255);
}
.feedback_name {
  margin-right: 30px;
}
.feedback_phone {
  margin-right: 66px;
}

.btn_feedback {
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: rgb(156, 211, 163);
  width: 209px;
  height: 55px;
  border-radius: 17px;
  padding: 19px 50px 15px 55px;
  color: #fff;
  border: none;
}
.btn_feedback::before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 25px;
  top: -9px;
  left: -9px;
  width: 228px;
  height: 73px;
  border: 10px solid rgba(34, 111, 33, 0.36);
  opacity: 25%;
}

.aboutus {
  margin-bottom: 300px;
}
.aboutus__description_shadow {
  position: absolute;
}
.aboutus__wrapper {
  display: flex;
  position: relative;
  margin-top: 95px;
  margin-left: 89px;
}
.aboutus__description {
  width: 531px;
  max-width: 531px;
  padding: 33px 45px;
  border-radius: 50px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 10px 0px rgba(73, 93, 76, 0.1);
}
.aboutus__description_circle {
  filter: blur(50px);
  z-index: -1;
  display: block;
  position: absolute;
  top: -55px;
  left: -15px;
  width: 656px;
  height: 630px;
  border-radius: 50%;
  background-color: #BAFFC3;
  opacity: 50%;
}
.aboutus__description_title {
  border-radius: 0%;
  position: relative;
  padding: 0;
  font-size: 45px;
  line-height: 66px;
  font-family: "ruberoid", sans-serif;
  color: rgb(73, 94, 76);
  max-width: 320px;
  margin-bottom: 24px;
  box-shadow: none;
}
.aboutus__description_title span {
  position: absolute;
  top: 19px;
  right: 0;
  text-transform: uppercase;
  font-size: 21px;
  font-family: "ruberoid", sans-serif;
  line-height: 27px;
  box-shadow: none;
  color: rgb(120, 192, 129);
}
.aboutus__description_title span::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgb(120, 192, 129);
  border-radius: 1.5px;
}
.aboutus__description_text {
  border-radius: 0;
  margin-bottom: 27px;
  font-size: 16px;
  line-height: 26px;
  color: rgb(132, 132, 132);
  padding: 0;
  max-width: 441px;
  box-shadow: none;
}
.aboutus__description_text:last-child {
  margin-bottom: 0;
}
.aboutus__block {
  margin-top: 125px;
  margin-left: 95px;
}
.aboutus__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  grid-gap: 0 80px;
  align-items: flex-start;
}
.aboutus__list_item {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  max-width: 238px;
  margin-bottom: 91px;
  align-items: center;
}
.aboutus__list_item:last-child {
  margin-right: 0;
  margin-bottom: 0;
}
.aboutus__list_circle {
  z-index: -1;
  display: block;
  width: 122px;
  height: 122px;
  border-radius: 50%;
  background-color: rgba(186, 255, 195, 0.5);
  position: absolute;
  filter: blur(53px);
}
.aboutus__list_title {
  display: block;
  letter-spacing: -1px;
  font-family: "ruberoid", sans-serif;
  font-size: 26px;
  font-weight: 400;
  line-height: 35px;
  color: rgb(120, 192, 129);
}
.aboutus__list_title span {
  font-family: "ruberoid", sans-serif;
  font-weight: 400;
  font-size: 35px;
  line-height: 47px;
}
.aboutus__list_text {
  z-index: 10;
  margin-top: 18px;
  display: flex;
  text-align: center;
  max-width: 198px;
  font-size: 16px;
  line-height: 26px;
  color: rgb(124, 163, 129);
}/*# sourceMappingURL=main.css.map */